body {
    font-family: "Lato", sans-serif;
    background-color: whitesmoke;
}

#loginbox{
    background-color: #000000e6;
    height: auto;
    width: 400px;
    margin-left: 25%;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 10px;

    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;

}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #FFF;
    overflow-x: hidden;
    padding-top: 20px;
    
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #000;
    text-align: center;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.imgfit{
    width: 100%;
    height: 10%;
}

.btn{
    margin-top: 15px;
    margin-left: 10px;
}

.label{
    margin-top: 15px;
}

.CB{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 8px 10px #888888;
    border-radius: 15px;
}

.btnL{
    background-color: #0358e7;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 17px;
    color: white;
}

.btnLO{
    background-color: white;
}